<div class="banner">
  <h1>New cocktail</h1>
</div>
<div class="container-form">
<%= simple_form_for @cocktail do |f| %>
<div class="separate">
  <%= f.input :name, class: "form-label" %>
  </div>
  <div class="separate">
   <%= f.input :photo, as: :file, class:"form-control"%>
     </div>
  <div class="separate">
  <%= f.button :submit %>
  </div>
<% end %>




